@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');ow

h1, h2, h3, h4, button, form, p, img, .nameofuser {
  margin-left: 20px;

}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  padding: 20px;

}

.logout, .goback {
   position:absolute;
   top:0;
   right:0;
   padding: 20px;
}

.searchbartitle {
  position:absolute;
  top:0px;
  right:360px;
  padding: 22px;
}

.editbutton {
  position:absolute;
  top:0px;
  right:80px;
  padding: 19px;
}

.deletebutton {
  position:absolute;
  top:0px;
  right:180px;
  padding: 0px;
}

.searchbar {
  position:absolute;
  top:3px;
  right:105px;
  padding: 0px;
}

.nameofuser {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

* {
  font-family: 'Montserrat', sans-serif;
 }

.main {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c017a95586bd0e2360ffc2676352c76&auto=format&fit=crop&w=1500&q=80");
  background-size: 100%;
}

.userpages {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c017a95586bd0e2360ffc2676352c76&auto=format&fit=crop&w=1500&q=80");
  background-size: 100%;
}

#signin {
  text-align: center;
}

#register {
  text-align: center;
}

.myplants, .todolist {
  text-decoration: underline;
  font-size: 20px;
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
  display: grid;
}

.lefthalf {
  grid-column: 1;
}

.righthalf {
  grid-column: 2;
}

#loginheading, .signupheading {
  margin-left: 20px;
  font-size: 35px;
}

.formforplant {
  margin-top: 110px;
}





// body {
//   background: url(link) ;
//   background-size: 200px
//   background-position: center;
// }
//
// boreder: 5px inset or dotted
//
// border-radius: 5px
//
// display: flex;
// flex-wrap: wrap;
