@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');ow

h1, h2, h3, h4, button, form, p, img, .nameofuser {
  margin-left: 20px;

}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

.logout {
   position:absolute;
   top:0;
   right:0;
   padding: 20px;
}

.searchbartitle {
  position:absolute;
  top:0px;
  right:360px;
  padding: 22px;
}

.searchbar {
  position:absolute;
  top:3px;
  right:105px;
  padding: 0px;
}

.nameofuser {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

* {
  font-family: 'Montserrat', sans-serif;
 }

.main {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/4c/25/a6/4c25a6dcc328795f6bfac594bb44734e.png");

}

.userpages {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://media.gettyimages.com/photos/white-background-marble-wall-texture-picture-id623898624?b=1&k=6&m=623898624&s=612x612&w=0&h=XOmT9wL2vkQDlC_rEsOjs6WtWdPSWt_stvMZ5DCCGcM=");
}

#signin {
  text-align: center;

}

#register {
  text-align: center;
}

.myplants, .todolist {
  text-decoration: underline;
  font-size: 20px;
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.container {
  display: grid;
}

.lefthalf {
  grid-column: 1;
}

.righthalf {
  grid-column: 2;
}
