@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');ow

h1, h2, h3, h4, button, form, p, img {
  margin-left: 20px;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}

.logout {
   position:absolute;
   top:0;
   right:0;
   padding: 20px;
}

.nameofuser {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

* {
  font-family: 'Montserrat', sans-serif;
 }

.main {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/4c/25/a6/4c25a6dcc328795f6bfac594bb44734e.png");

}

.userpages {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://media.gettyimages.com/photos/white-background-marble-wall-texture-picture-id623898624?b=1&k=6&m=623898624&s=612x612&w=0&h=XOmT9wL2vkQDlC_rEsOjs6WtWdPSWt_stvMZ5DCCGcM=");
}

#signin {
  text-align: center;

}

#register {
  text-align: center;
}
